@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">В Москве сегодня</h1>
</div>

@foreach (var item in Model)
{
    <div>
        <div>Новость @item.Id:</div>
        <div><b>@item.Title</b></div>
        <div>@item.Text</div>
        <div>Дата: @item.Date</div>
    </div>
    <hr />
}